doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="stylesheet" href="css/main.css")
		link(rel="icon" href="favicon.ico")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700")
		script(src="https://use.fontawesome.com/169df6adb6.js")
		script(src="js/main.js")

	body
		header#header 
			div#bannerheader
				div#container We work for our future!
			div#container
				div#logo
				nav#nav
					ul
						li
							a(href="/pisang") TENTANG KAMI
						li 
							a(href="/pisang") KAMAR
						li 
							a(href="/pisang") FASILITAS
						li 
							a(href="/pisang") GALERI
						li 
							a(href="/pisang") PROMOSI
						li 
							a(href="/pisang") KARIR
						li 
							a(href="/pisang") KONTAK

		div#container  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sapiente asperiores voluptates minus, rerum vitae hic cum? Praesentium, numquam quisquam libero laudantium aut nostrum voluptates labore similique eveniet voluptas necessitatibus!
		
		div.sidebar
			a(href='#' target="_self")
				span.fa.fa-instagram  
				span  Get a Quote
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   Sign Up for Updates
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   Schedule a Test Drive
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   Get Specifications
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   Get a Brochure
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   Find a Dealer
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   &nbsp;Facebook
			a(href='#' target="_self")
				span.fa.fa-instagram
				span   &nbsp;instagram
		a#gototop.hide-it(href='#' onClick='goToTop()')
			i.fa.fa-chevron-up